body {

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  background-color: #E5E4E2;

}

h1 {
  color: #FFF;
  font-family: 'Indie Flower', cursive;
}

h2 {
  color: #888;
}

h3 {
  color: #999;
}

img {
  height: 200px;
}

.a_page {
  text-decoration: none;
  color: #FF1494;
  font-size: 1.5em;
}

.a_page:hover {
  color: #5B247F;
  font-size: 3em;
}

.a_sidebar {
  text-decoration: none;
  color: #888;
  font-size: 1.5em;
}

.a_sidebar:hover {
  color: #FFF;
  font-size: 3em;
}


th {
  color: #FF1494;
  font-weight: 800;
  text-align: left;
}
td {
  font-style: italic;
  width: 200px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container ul li {
  display: inline;
}

.container {
  width: 80%;
  margin-left: 300px;
  margin: auto;
  margin-left: 150px;
  min-width: 500px;
  padding: 10px;
}

.img_border_shadow_ {
  box-shadow: 10px 10px 10px #999;
}

.div_card_header {
  background-color: #FFF;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #999;
}

.div_card {
  background-color: #FFF;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #999;
}
.div_card_text_center {
  text-align: center;
  line-height: 0.5em;

}

.div_backgroung_nyc {
  background: url("images/nyc.jpg");
  background-size: 100%;
}

.picture_round {
  margin-top: 10px;
  border-radius: 50%;
  height: 150px;
}

.p_color_white {
  color: #FFF;
}

.space_text_letter {
  letter-spacing: 30px;
}
#sidebar {
  position: fixed;
  width: 150px;
  background-color: #384047;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 5em;
}

.filter_div {
  background-color: rgba(9, 9, 9, 0.5);
  border-radius: 5px;
  height: 100%;
  width: 100%;
}
